<header>
  <nav class="navbar navbar-expand-md navbar-toggleable-md border-bottom box-shadow"
       [ngClass]="(isDarkMode | async) ? 'navbar-dark bg-dark' : 'bg-light'">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">yetanotherstrawberry</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-m-inline-flex justify-content-end align-items-center"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/portfolio']">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pt-2 pb-0 h-100 align-items-center" aria-label="Toggle theme"
               (click)="toggleDark(false)"
               *ngIf="isDarkMode | async"
               href="javascript:;">
              <mat-icon class="navbarThemeSwitcher">dark_mode</mat-icon>
            </a>
            <a class="nav-link pt-2 pb-0 h-100 align-items-center" aria-label="Toggle theme"
               (click)="toggleDark(true)"
               *ngIf="!(isDarkMode | async)"
               href="javascript:;">
              <mat-icon class="navbarThemeSwitcher">light_mode</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
